<section ng-controller="LeadController as leadCtrl" ng-init="leadCtrl.findOne()">
    <div class="row">
        <div class="col-md-6">
            <h1 >Edit Lead </h1>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <form class="form-horizontal"
                      role="form"
                      name="leadCtrl.form"
                      ng-submit="leadCtrl.update()"
                      novalidate>
                    <div class="panel-body">
                        <div class="row" ng-include="'app/leads/views/partials/form-leads.html'"></div>
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-success ">Update Lead</button>
                                        <a href="/leads" class="btn btn-default">Back</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>