<section ng-controller="LeadsController as leadCtrl" ng-init="leadCtrl.fetch(); leadCtrl.isFlashMsg()">
<h1 class="text-uppercase">leads management</h1>

<div class="row">
	<div class="col-md-12">
	 	<div class="  pull-left">
            <a href="/leads/create" class="btn btn-primary">
                <i class="fa fa-plus"></i> New Lead
            </a>
        </div>
	</div>
	<div class="col-md-12">
		<div class="table-responsive">
            <table class="table">
         		<thead>
	                <tr>
	                	<th>#</th>
	                    <th>Name</th>
	                    <th>Email Address</th>
	                    <th>Phone Number</th>
	                    <th>Date of Birth</th>
                        <th></th>
	                </tr>
                </thead>
                <tbody>
                	<tr ng-repeat="lead in leadCtrl.leads">
                        <td>{{$index + 1}}</td>
                		<td>{{lead.name}}</td>
                		<td>{{lead.email}}</td>
                		<td>{{lead.phone}}</td>
                		<td>{{lead.dob| date: 'yyyy-MM-dd'}}</td>
                		<td>
                            <a type="button"
                                href="/leads/{{lead._id.$id}}"
                                class="btn btn-info "
                                title="Edit"
                                >
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>      
                        </td>
                	</tr>
                     <tr ng-if="leadCtrl.leadsCount == 0">
                        <td colspan="12" style="font-weight: bold">No Leads at the moment.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ul  uib-pagination ng-hide="leadCtrl.pagination.attributes.count < leadCtrl.pagination.attributes.perPage"
                total-items="leadCtrl.pagination.attributes.count"
                items-per-page="leadCtrl.pagination.attributes.perPage"
                max-size="leadCtrl.pagination.attributes.maxSize"
                ng-model="leadCtrl.pagination.attributes.page"
                ng-change="leadCtrl.pageChanged()"
                class="pagination-sm"
                boundary-links="true"></ul>
	</div>
</div>

</section>