<section>
    <div class="col-md-6">
        <h3 >Details of Lead
        </h3>
        <div class="form-group" ng-class="{'has-error': leadCtrl.hasError('name', ['required'])}">
            <label for="name" class="col-sm-3 control-label">Name <span class="red">*</span></label>
            <div class="col-sm-9">
                <input id="name"
                       name="name"
                       ng-model="leadCtrl.lead.name"
                       class="form-control"
                       type="text"
                       placeholder="Enter Name"
                       required/>
                <span ng-show="leadCtrl.hasError('name', 'required')"
                      class="help-block">
                    Name is required.
                </span>
                <p class="help-block"></p>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': leadCtrl.hasError('email', ['required', 'email'])}">
            <label for="email" class="col-sm-3 control-label">Email <span class="red">*</span></label>
            <div class="col-sm-9">
                <input id="email"
                       name="email"
                       class="form-control"
                       ng-model="leadCtrl.lead.email"
                       type="email"
                       placeholder="Enter Email"
                       required/>
                <span ng-show="leadCtrl.hasError('email', 'required')"
                      class="help-block">
                    Email required.
                </span>
                 <span ng-show="leadCtrl.hasError('email', 'email')"
                      class="help-block">
                    Email format invalid.
                </span>
                <p class="help-block"></p>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': leadCtrl.hasError('phone', ['required'])}">
            <label for="phone" class="col-sm-3 control-label">Phone Number <span class="red">*</span></label>
            <div class="col-sm-9">
                <input id="phone"
                   name="phone"
                   class="form-control"
                   ng-model="leadCtrl.lead.phone"
                   type="text"
                   placeholder="Enter Phone Number"
                   required/>
                <span ng-show="leadCtrl.hasError('phone', 'required')"
                      class="help-block">
                    Phone Number is required.
                </span>
                <p class="help-block"></p>
            </div>
        </div>
        
  
        <div class="form-group" ng-class="{ 'has-error' : leadCtrl.hasError('dob', ['required', 'date']) }">
          <label for="dob" class="col-sm-3 control-label">Date of Birth</label>
          <div class="col-sm-9">
            <div class="input-group">
                <input type="text"
                       uib-datepicker-popup="yyyy-MM-dd"
                       name="dob"
                       id="dob"
                       class="form-control form-control-input"
                       placeholder="e.g 2012-12-31"
                       required
                       ng-click="leadCtrl.openCalendar('dob')"
                       datepicker-options="leadCtrl.dateOptions.dob"
                       is-open="leadCtrl.dobOpened"
                       ng-model="leadCtrl.lead.dob"
                       />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default input-group-button"
                          
                            ng-click="leadCtrl.openCalendar('dob')">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
            <span class="help-block"
                ng-show="leadCtrl.hasError('dob', 'required')">
                      Date of Birth required.
              </span>
            <span class="help-block"
                  ng-show="leadCtrl.hasError('dob', 'date')">
                 Invalid date format. Please use format YYYY-MM-DD.
            </span>
            <p class="help-block"></p>
          </div>
          
      </div>
       
    </div>
</section>